<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class='container'>
        <form action='/new_client' method='post'>
            <input id='client_name' name='client_name' type='text' value="client_name">
            <input id='contact' type="tel" name='contact' value="503-400-0000">
            <!-- <input id='stylist_id' name='stylist_id' type='int' value="stylist_id"> -->
            <button type='submit' class='btn-xs'>
        </form>
        </div>

        <div class='container'>
        <form action='/delete_clients' method='post'>
            <button type='submit' class='btn-xs'>Delete All</button>
        </form>
        </div>

        <!-- <div class='container'>
        <form action='/new_stylist' method='post'>
            <input id='name' name='name' type='text' value="add a stylist">
            <button type='submit' class='btn-xs'>
        </form>
        </div> -->

        <div class='container'>
            {% if clients is not empty %}
            <h4>Hi here are some clients</h4>
                {% for client in clients %}
                    <p>{{ client.getName }}</p>
                    <p>{{ client.getContact }}</p>

                {% endfor %}
                {% else %} <h4>No Clients, Chuck.</h4>
            {% endif %}
        </div>


    </body>
</html>
